<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
  style="height: 100% !important;">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    </div>
    <div class="sidebar-brand-text mx-3">ShopBridge</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/']">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Menu
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed itemMenu" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fa fa-shopping-cart"></i>
      <span class="itemName">Items</span>
      <i class="fa fa-sort-desc downArrow" aria-hidden="true"></i>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/items/add']" routerLinkActive="active">Add</a>
        <a class="collapse-item" [routerLink]="['/items']" routerLinkActive="active">List</a>
      </div>
    </div>
  </li>
</ul>
